* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

.primeira-secao {
    background-color: blue;

    border-bottom: 10px solid green;

    min-width: 100vw;
    min-height: 100vh;
}

.segunda-secao {
    background-color: red ;

    border-bottom: 10px solid green ;

    width: 50%;
    height: 100vh;
}

.primeira-secao > div {
    
    background-color: black ;

    width: 300px;
    height: 300px;

    margin-bottom: 10px;
}
